<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title> My First Page</title>
</head>
<body>
    <form method="post", action="/">
        <select name="list_down" class='zxca'>
            <option value="{{q1}}">{{q1}}</option>
            <option value="{{q2}}">{{q2}}</option>
            <option value="{{q3}}">{{q3}}</option>
        </select>
        <input type="submit" value="Выбрать">
    </form>
</body>
</html>